@media only screen and (min-device-width : 320px) and (max-device-width : 768px) { 
    *{
        margin: 0;
        padding: 0;
    }

    .header{
        width: 100%;
        padding: 10px 0;
    }

    .menu_nav{
        flex-direction: column-reverse;
        margin-bottom: 20px;
    }

    .menu_nav ul{
        justify-content: center;
    }

    .menu_nav li{
        margin: 0 15px;
    }

    .menu_nav img{
        width: 100px;
        margin: 0 auto;
        display: block;
        
    }

    .content_introduction{
        flex-direction: column;
        width: 100%;
        padding: 0;
        height: auto;
    }

    .introduction .subtitle_content{
        padding: 0 10px;
    }

    .introduction{
        align-items: center;
        height: auto;
    }

    .content_introduction img{
        margin-top: 30px;
        
    }
    
    .content_introduction{
        padding-bottom: 30px;
    }

    .content img{
        display: block;
        margin: 20px auto;
    }

    .form_contact {
        width: 100%;
    }

    .form_contact form{
        width: 100%;
    }

    .form_contact form input{
        width: 100%;
    }

    .form_contact{
        padding: 20px 0;
    }

    .form_contact button{
        margin: 0;
    }

    .footer{
        height: auto;
    }

    .adress_list{
        flex-direction: column;    
        align-items: center;
    }

    .adress_list p{
        border-bottom: solid 1px #fff;
        margin: 15px 0;
    }

    .adress_list p:last-child{
        border: none;
    }

    .modal_book_active{
        width: 300px;
        height: auto;
    }
}