*{
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}



.header{
  padding: 60px;
  /* height: 10vh; */
  background-color: #fcdb00;
}

.menu_nav{
  display: flex;
  justify-content: space-around;
}

.menu_nav ul {
  list-style: none;
  display: flex;
}

.menu_nav li{
  
  font-size: 22px;
  font-weight: bold;
  margin-right: 50px;
}

.content_introduction{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;  
  padding: 50px;
  background-color: #fcdb00;
  margin-bottom: 60px;
}

.introduction{
  display: flex;
  justify-content: center;
  height: 40vh;
  flex-direction: column;
}

.introduction h1{
  
  font-size: 32px;
  font-weight: bold;
}

.introduction p{
  
  font-size: 22px;
}

.title, .subtitle, .subtitle_content{
  margin-bottom: 20px;
}

.introduction .subtitle_content{
  font-size: 16px;
}

.introduction i{
  font-size: 50px;
}

.icons i:first-child{
  margin-right: 30px;
}

.icons i:last-child{
  margin-left: 30px;
}

.content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.content h1{
  
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.content p{
  
  font-size: 20px;
  text-align: center;
}

.books{
  margin-top: 50px;
  width: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.books button{
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.content img{
  width: 180px;
  margin-left: 75px;
  margin-top: 35px;
}

.footer{
  width: 100%;
  height: 70vh;
  background-color: #000;
}

.content_form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.content_form h1{  
  margin-top: 50px;
  color: #fcdb00;
  
}

.content_form p{
  color: #898989;
  
  font-size: 20px;
  text-align: center;
}

.form_contact{
  display: flex;
  padding: 30px;
}

.form_contact form input {
  width: 500px;
  padding: 12px;
  border-radius: 4px;
  border: none;
  outline: none;
}

.form_contact button {
  width: 96px;
  margin-left: 40px;
  background-color: #fcdb00;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  outline: none;
}

.social_icons{
  margin-top: 35px;
}

.social_icons img{
  width: 35px;
}

.social_icons img:nth-child(even){
  margin-right: 30px;
  margin-left: 30px;
}

.adress_list {
  display: flex;
  align-items: flex-start;
  margin-top: 50px;
}

.adress_list p{
  color: #FFF;
  font-size: 14px;
  
  text-align: center;
}

.adress_list p:nth-child(even){
  margin-right: 60px;
  margin-left: 60px;
}

.modal_book{
  display:none;
  width: 300px;
  height: 350px;
  border-radius: 4px;
  background-color: #fcdb00;
  position: absolute;
  right: 55%;
}

.modal_book_active{
  display: block !important;
  width: 500px;
  height: 350px;
  border-radius: 4px;
  background-color: #fcdb00;
  position: absolute;
}

.close_button{
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.close_button button{
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.close_button button i{
  font-size: 25px;
}

.book_informations p:first-child{
  font-weight: bold;
  font-size: 25px;
  
  margin-bottom: 10px;
}

.book_informations p:nth-child(2){
  margin-bottom: 10px;
  
  font-size: 18px;
  font-weight: bold;
}

.book_informations p:nth-child(3){
  overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    margin-bottom: 10px
}